body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.window {
  box-shadow: 0 0 10px #000;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 15px 30px;
  background: #fff;
  box-sizing: border-box;
  text-align: left;
}

#meaningful-modal {
  box-shadow: 0 0 10px #000;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 15px 30px;
  background: #fff;
  box-sizing: border-box;
  text-align: left;
}

select {
    position: relative;
    width: 250px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    padding: 10px 9px;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    height: 38px;
}

#container {
  display: flex;
  width: 99.5vw;
}
#meaningful-modal {
  flex-grow: 1;
  height: 80%;
  max-width: 49.55%;
}
#left {
  width: 50%;
}
#main-modal, #experts-modal, #number-alternatives-modal, #alternatives-modal, #criteria-modal, #number-of-criteria-modal, #evaluation-modal {
  width: 99%;
  overflow-y: auto;
  overflow-x: auto;
  max-height: 95.5vh;
}
.blue-btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
}

.blue-btn:hover {
  background: #1d49aa;
}
.blue-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.blue-btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
}

.blue-btn:hover {
  background: #1d49aa;
}
.blue-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}



.expert-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-top: 5px;
}
.expert-block label {
  font-weight: bold;
  width: 120px;
}
.expert-block input {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  width: 70%;
}

#expert-block-1 {
  padding-top: 10px;
}
.row_experts {
  display: flex;
  margin-bottom: 5px;
}

#number-alternatives-modal {
  padding-top: 20px;
}
#number-of-criteria-modal {
  padding-top: 20px;
}
.row-criterias {
  display: flex;
  margin-bottom: 5px;
}

.criteria-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-top: 5px;
}
.criteria-block label {
  font-weight: bold;
  width: 120px;
}
.criteria-block input {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  width: 70%;
}



.row_alternatives {
  display: flex;
  margin-bottom: 5px;
}

.alternative-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-top: 5px;
}
.alternative-block label {
  font-weight: bold;
  width: 120px;
}
.alternative-block input {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  width: 70%;
}

#experts {
  margin-bottom: 8px;
}
#criteria {
  margin-bottom: 8px;
}

.blue-btn-again {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
}

.blue-btn-again:hover {
  background: #1d49aa;
}
.blue-btn-again:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.evaluations-block input {
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
}
