{% extends "base.html" %}
{% block content %}

  <!-- Главное окно -->
  <div id="main-modal" class="modal" style="display: block;">
    <h2 style="font-size: 30px">Принятие решений на основе лингвистической информации</h2>
    <label for="experts-input" style="font-size: 20px; padding-right: 5px">Введите количество экспертов:</label>
    <input type="number" id="experts-input" style="font-size: 15px" name="experts-input" value="1" min="1" max="20" required>
    <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
      <button id="submit-btn" class="blue-btn">Сохранить</button>
    </div>
  </div>
<!-- окно экспертов -->
  <div id="experts-modal" class="modal" style="display: none;">
  <h2>Заполните экспертов</h2>
  <div id="experts-fields"></div>
  <div id="warningExperts" style="padding-left: 120px; display: none">
      <p id="Experts-warning-text" style="color: red">Заполнены не все поля</p>
  </div>
    <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
      <button id="back-btn-to_number-of-experts" class="blue-btn">Назад</button>
      <button id="submit-btn-to-number-of-criteria" class="blue-btn">Отправить</button>
    </div>
  </div>
<!-- окно выбора числа критериев -->
  <div id="number-of-criteria-modal" class="modal" style="display: none;">
    <label for="criteria-input" style="font-size: 20px; padding-right: 5px">Введите количество критериев:</label>
    <input type="number" id="criteria-input" style="font-size: 15px" name="criteria-input" value="1" min="1" max="20" required>
    <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
      <button id="back-btn-to-fields-of-experts" class="blue-btn">Назад</button>
      <button id="submit-btn-to-criteria" class="blue-btn">Отправить</button>
    </div>
  </div>

<!-- окно критериев -->
<div id="criteria-modal" class="modal" style="display: none;">
<h2>Заполните критерии</h2>
  <div id="criteria-fields"></div>
  <div id="warningCriteria" style="padding-left: 120px; display: none">
      <p id="Criteria-warning-text" style="color: red">Заполнены не все поля</p>
  </div>
    <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
      <button id="back-btn-to-number-of-criteria" class="blue-btn">Назад</button>
      <button id="submit-btn-to-number-of-alternatives" class="blue-btn">Отправить</button>
    </div>
</div>

<!-- окно шкал -->
<div id="scales-modal" class="modal" style="display: none;">
  <div id="scales-fields-for-qualitative"></div>
  <div id="scales-fields-for-quantitative"></div>
</div>


<!-- окно выбора числа альтернатив -->
<div id="number-alternatives-modal" class="modal" style="display: none;">
    <label for="alternatives-input" style="font-size: 20px; padding-right: 5px">Введите количество альтернатив:</label>
    <input type="number" id="alternatives-input" style="font-size: 15px" name="alternatives-input" value="1" min="1" max="10" required>
    <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
      <button id="back-btn-to-fields-of-criteria" class="blue-btn">Назад</button>
      <button id="submit-btn-to-alternatives" class="blue-btn">Отправить</button>
    </div>
</div>

<!-- окно альтернатив -->
  <div id="alternatives-modal" class="modal" style="display: none;">
  <h2>Заполните альтернативы</h2>
  <div id="alternatives-fields"></div>
    <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
      <button id="back-btn-to_number-of-alternatives" class="blue-btn">Назад</button>
      <button id="submit-btn-to-evaluate" class="blue-btn">Отправить</button>
    </div>
  </div>

{% endblock %}



