{% extends "base.html" %}
{% block content %}

  <!-- Главное окно -->
<div id="container">
  <div id="left">
  <div id="main-modal" class="window" style="display: block;">
    <h2 style="font-size: 30px">Принятие решений на основе лингвистической информации</h2>
    <label for="experts-input" style="font-size: 20px; padding-right: 5px">Введите количество экспертов:</label>
    <input type="number" id="experts-input" style="font-size: 15px" name="experts-input" value="1" min="1" max="20" required>
      <div id="number-of-experts-warning-text" style="display: none; padding-left: 300px; padding-top: 20px"></div>
    <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
      <button id="submit-btn" class="blue-btn">Сохранить</button>
    </div>
  </div>

     <!-- Подсказывательное окно -->

<!-- окно экспертов -->
  <div id="experts-modal" class="window" style="display: none;">
    <h2>Заполните экспертов</h2>
    <div id="experts-fields"></div>
    <div id="warningExperts" style="padding-left: 120px; display: none">
      <p id="Experts-warning-text" style="color: red">Заполнены не все поля</p>
    </div>
    <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 45%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="back-btn-to_number-of-experts" class="blue-btn">Назад</button>
            <button id="submit-btn-to-number-of-criteria" class="blue-btn">Отправить</button>
        </div>
    </div>
  </div>
<!-- окно выбора числа критериев -->
  <div id="number-of-criteria-modal" class="window" style="display: none;">
    <label for="criteria-input" style="font-size: 20px; padding-right: 5px">Введите количество критериев:</label>
    <input type="number" id="criteria-input" style="font-size: 15px" name="criteria-input" value="1" min="1" max="20" required>
      <div id="number-of-criteria-warning-text" style="display: none; padding-left: 300px; padding-top: 20px"></div>
    <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 45%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="back-btn-to-fields-of-experts" class="blue-btn">Назад</button>
            <button id="submit-btn-to-criteria" class="blue-btn">Отправить</button>
        </div>
    </div>
  </div>

<!-- окно критериев -->
<div id="criteria-modal" class="window" style="display: none;">
<h2>Заполните критерии</h2>
  <div id="criteria-fields"></div>
  <div id="warningCriteria" style="padding-left: 120px; display: none">
      <p id="Criteria-warning-text" style="color: red">Заполнены не все поля</p>
  </div>
   <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 45%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="back-btn-to-number-of-criteria" class="blue-btn">Назад</button>
            <button id="submit-btn-to-number-of-alternatives" class="blue-btn">Отправить</button>
        </div>
   </div>
</div>

<!-- окно шкал -->
<div id="scales-modal" class="window" style="display: none;">
  <div id="scales-fields-for-qualitative"></div>
  <div id="scales-fields-for-quantitative"></div>
</div>


<!-- окно выбора числа альтернатив -->
<div id="number-alternatives-modal" class="window" style="display: none;">
    <label for="alternatives-input" style="font-size: 20px; padding-right: 5px">Введите количество альтернатив:</label>
    <input type="number" id="alternatives-input" style="font-size: 15px" name="alternatives-input" value="1" min="1" max="10" required>
    <div id="number-of-alternatives-warning-text" style="display: none; padding-left: 300px; padding-top: 20px"></div>
    <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 45%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="back-btn-to-fields-of-criteria" class="blue-btn">Назад</button>
            <button id="submit-btn-to-alternatives" class="blue-btn">Отправить</button>
        </div>
   </div>
</div>

<!-- окно альтернатив -->
  <div id="alternatives-modal" class="window" style="display: none;">
  <h2>Заполните альтернативы</h2>
  <div id="alternatives-fields"></div>
  <div id="warningAlternative" style="padding-left: 120px; display: none">
      <p id="Alternative-warning-text" style="color: red">Заполнены не все поля</p>
  </div>
   <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 45%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="back-btn-to_number-of-alternatives" class="blue-btn">Назад</button>
            <button id="submit-btn-to-evaluate" class="blue-btn">Отправить</button>
        </div>
   </div>
  </div>
  <div id="evaluation-modal" class="window" style="display: none;">
    <h2>Заполните оценки</h2>
    <div id="evaluations-fields"></div>
    <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 45%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="back-btn-to-fields-of-alternatives" class="blue-btn">Назад</button>
            <button id="submit-btn-to-send-data" class="blue-btn">Отправить</button>
        </div>
   </div>
  </div>
  <div id="result-left-modal" class="window" style="display: none;">
      <h2>Результаты</h2>
      <div id="result-fields"></div>
    <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 55%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="submit-btn-to-add-new-alternative" class="blue-btn" style="min-width: 208px">Добавить альтернативу</button>
        </div>
   </div>
 </div>
 <div id="add-alternative-modal" class="window" style="display: none;">
    <h2>Заполните необходимые данные о новой альтернативе</h2>
    <div id="new-alternative-fields"></div>
     <div id="warningNewAlternative" style="padding-left: 120px; display: none">
         <p id="New-alternative-warning-text" style="color: red">Заполнены не все поля</p>
     </div>
    <div style="display: flex">
       <div style="padding-top: 30px">
           <button class="blue-btn-again" style="width: 141px">Начать заново</button>
       </div>
          <div style="width: 45%"></div>
        <div style="text-align: right; margin-bottom: 1em; margin-top: 2em;">
            <button id="back-btn-to-res-model" class="blue-btn">Назад</button>
            <button id="submit-btn-to-send-new-alternative" class="blue-btn">Отправить</button>
        </div>
   </div>
 </div>
   <div id="old-result-modal" class="window" style="display: none; margin-top: 10px">
    <h2>Предыдущие результаты</h2>
    <div id="old-result-fields"></div>
  </div>
</div>
 <div id="meaningful-modal" style="display: block;">
    <h2 style="font-size: 30px">Элементы</h2>
    <div id="meaningful-fields" style="display: none">
        <div id="experts" class="window" style="display: none"></div>
        <div id="criteria" class="window" style="display: none"></div>
        <div id="alternatives" class="window" style="display: none"></div>
    </div>
  </div>
</div>

{% endblock %}



